.challenges__section{
    width: 100%;
    height:auto;
    background: #003145;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
    min-height: 800px;
}

.explore__challenges__section{
    width: 100%;
    padding: 15px;
    padding-bottom: 30px;
    background: #002A3B;

    margin-bottom: 50px;
}

.section__heading{
    font-size: 1.15rem;
    font-weight: 600;
    color: #FFFFFF;
    text-align: center;
    margin: 20px 0;
}

.input__icon__wpr{
    position: relative;
}

.input__icon__wpr input{
    width: 100%;
    outline: none;
    border: none;
    border-radius: 10px;
    padding:8px;
    margin-bottom: 20px;
    padding-left: 40px;
    background: #FFFFFF;
    box-shadow: 0px 4px 50px 0px #6F6F6F1A;

    font-size: .8rem;
    font-weight: 300;
}

.search__icon__wpr{
    position: absolute;
    width: 12px;
    height: 12px;
    top:50%;
    left:15px;
    transform: translateY(-50%);
    margin-top: 2px;
}

.search__icon{
    display: block;
    width: 100%;
    height: 100%;
}

.drop__down__wpr{
    position: relative;
    width: 150px;
    background:#FFFFFF;
    border-radius: 10px;
    margin-bottom: 20px;
}

.filter__title{
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: .8rem;
    padding:8px 10px;
    cursor: pointer;
}

.arrow__icon__wpr{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10px;
    height: 10px;
}

.arrow__icon{
    width: 100%;
    height: auto;
}

.rotate__arrow{
    transform: rotate(180deg);
}

.filters__wpr{
    position: absolute;
    width:100%;
    height: auto;
    left: 0;
    right: 0;
    top:25px;
    background: #FFFFFF;
    transform: translateY(-50%);
    opacity: 0;
    pointer-events: none;
    border-radius: 0 0 5px 5px;
    padding: 10px;
}

.show__filters{
    transform: translateY(0%);
    opacity: 1;
    pointer-events: all;
}

.filter__wpr{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding:10px;
}

.filter__section__title{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: .8rem;
    color: #666666;
    margin-bottom: 5px;
}

.status__filter__wpr{
    border-top:1px solid #ECECEC;
    border-bottom:1px solid #ECECEC;
}

.filter__label{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: .7rem;
    margin-left: 8px;
    color: #858585;
    cursor: pointer;
}

.filter__checkbox{
    /* border: .5px solid #003145; */
    width: 13px;
    height: 13px;
    border-color: #003145;
    cursor: pointer;
}
.filters__names{
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    max-width: 850px;
    margin: auto;
}

.filter{
    font-size: .6rem;
    font-weight: 500;
    background: #F8F9FD7D;
    color: #FFFFFF;
    padding: 5px 20px;
    border-radius: 30px;
}

.challenge__card__wpr{
    padding:15px;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    gap: 30px;
}

@media only screen and (min-width:520px){
    .explore__challenges__section{
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 40px;
    }

    .section__heading{
        font-size: 1.3rem;
        margin: 30px 0;
    }

    .input__icon__wpr input{
        padding:8px;
        padding-left: 50px;
        font-size: .85rem;
    }
    .search__icon__wpr{
        width: 12px;
        height: 12px;
        left:30px;
    }

    .filters__wpr{
        top:25px;
    }
    
    .filter__title{
        font-size: .85rem;
        padding:8px 20px;
    }
    
    .arrow__icon__wpr{
        width: 12px;
        height: 12px;
    }


    .filter__section__title{
        font-size: .8rem;
        margin-bottom: 5px;
    }
    
    
    .filter__label{
        font-size: .7rem;
        margin-left: 10px;
    }
    
    .filter__checkbox{
        width: 13px;
        height: 13px;
    }

    .filter{
        font-size: .65rem;
    }
}

@media only screen and (min-width:780px){
    .input__filter__wpr{
        display: flex;
        justify-content: center;
        align-items: center;
        gap:30px;
        padding-bottom: 0;
        margin-bottom: 30px;
    }

    .explore__challenges__section{
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 50px;
    }

    .section__heading{
        font-size: 1.6rem;
        margin: 35px 0;
    }

    .input__icon__wpr input{
        width:40vw;
        padding:10px;
        margin-bottom:0;
        padding-left: 60px;
        font-size: .9rem;
    }
    .search__icon__wpr{
        width: 13px;
        height: 13px;
        left:35px;
    }

    .drop__down__wpr{
        margin-bottom: 0;
    }

    .filters__wpr{
        top:28px;
    }
    
    .filter__title{
        font-size: .9rem;
        padding:10px 20px;
    }
    
    .arrow__icon__wpr{
        width: 12px;
        height: 12px;
    }


    .filter__section__title{
        font-size: .85rem;
        margin-bottom: 5px;
    }
    
    
    .filter__label{
        font-size: .75rem;
        margin-left: 10px;
    }
    
    .filter__checkbox{
        width: 13px;
        height: 13px;
    }

    .filter{
        font-size: .7rem;
    }

    .challenge__card__wpr{
        display: inline-grid;
        grid-template-columns: auto auto;
        justify-items: center;
        align-items: center;
        gap:40px;
    }
}

@media only screen and (min-width:1100px){
    .explore__challenges__section{
        padding-bottom: 60px;
    }

    .section__heading{
        font-size: 1.8rem;
        margin: 40px 0;
    }

    .input__icon__wpr input{
        padding:15px;
        padding-left: 70px;
        font-size: 1rem;
    }
    .search__icon__wpr{
        width: 14px;
        height: 14px;
        left:40px;
    }

    .filters__wpr{
        top:40px;
    }
    
    .filter__title{
        font-size: 1rem;
        padding:15px 20px;
    }
    
    .arrow__icon__wpr{
        width: 13px;
        height: 13px;
    }


    .filter__section__title{
        font-size: .9rem;
        margin-bottom: 5px;
    }
    
    
    .filter__label{
        font-size: .8rem;
        margin-left: 10px;
    }
    
    .filter__checkbox{
        width: 14px;
        height: 14px;
    }

    .filter{
        font-size: .8rem;
    }

    .challenge__card__wpr{
        grid-template-columns: auto auto auto;
    }
}