header{
    position: absolute;
    width: 100%;
    height:64px;
    top:0;
    left:0;
    
    display: flex;
    align-items: center;

    padding-left: 15px;

    background: #FFFFFF;
    z-index:100;
}


.logo__ctr{
    width: 87px;
    height:auto;
}

.logo{
    width:100%;
    height:auto;
}

@media only screen and (min-width:520px){
    header{
        padding-left:30px;
    }
}

@media only screen and (min-width:780px){
    header{
        padding-left: 50px;
    }
}

@media only screen and (min-width:1080px) {
    header{
        padding-left: 90px;
    }
}

@media only screen and (min-width:1280px){
    header{
        padding-left: 100px;
    }
}